.columWrapper {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.columItem {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.columName {
	display: block;
	font-family: "Fraunces", serif;
}

.addBtn {
	display: block;
}
